#VPN CREDENTIAL FOR IH DATA RETRIVING
/IH_testing/credential/*

#STUFF THAT SHOULD NOT ENCUMBER THE REPOSITORY
/#SIDESTUFF

#PERSONNAL SETTINGS
/.vscode

#TEMPORARY FILES
__pycache__/
*.pyc
*/.ipynb_checkpoints/*
*.dat